<div class="row">
  <div class="col-lg-3 col-md-6 mx-auto mb-3">
    <div class="card">
      <img src="http://via.placeholder.com/320x280?text=image" alt="insert the alt text here" class="card-img-top">
      <div class="card-body">
        <h5 class="text-capitalize">title goes here</h5>
        <p class="font-weight-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. A nulla maxime quo? Dicta dignissimos aliquam veritatis.</p>
        <a href="#" routerLink="/" class="btn btn-outline-success btn-block">Click me</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 mx-auto mb-3">
    <div class="card">
      <img src="http://via.placeholder.com/320x280?text=image" alt="insert the alt text here" class="card-img-top">
      <div class="card-body">
        <h5 class="text-capitalize">title goes here</h5>
        <p class="font-weight-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. A nulla maxime quo? Dicta dignissimos aliquam veritatis.</p>
        <a href="#" routerLink="/" class="btn btn-outline-success btn-block">Click me</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 mx-auto mb-3">
    <div class="card">
      <img src="http://via.placeholder.com/320x280?text=image" alt="insert the alt text here" class="card-img-top">
      <div class="card-body">
        <h5 class="text-capitalize">title goes here</h5>
        <p class="font-weight-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. A nulla maxime quo? Dicta dignissimos aliquam veritatis.</p>
        <a href="#" routerLink="/" class="btn btn-outline-success btn-block">Click me</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 mx-auto mb-3">
    <div class="card">
      <img src="http://via.placeholder.com/320x280?text=image" alt="insert the alt text here" class="card-img-top">
      <div class="card-body">
        <h5 class="text-capitalize">title goes here</h5>
        <p class="font-weight-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. A nulla maxime quo? Dicta dignissimos aliquam veritatis.</p>
        <a href="#" routerLink="/" class="btn btn-outline-success btn-block">Click me</a>
      </div>
    </div>
  </div>
</div>