// extra small
@media (max-width: 566px) {
  .card-img-side {
    height: 200px;
  }
  @include footer-a-mobile;
  @include footer-b-mobile;
}
// small
@media (min-width: 567px) {
  .card-img-side {
    height: 200px;
  }
  @include footer-a-mobile;
  @include footer-b-mobile;
}
// medium
@media (min-width: 768px) {
  .card-img-side {
    height: 100%;
  }
  @include footer-a-desktop;
  @include footer-b-desktop;
}
// large
@media (min-width: 992px) {
  .card-img-side {
    height: 100%;
  }
  @include footer-a-desktop;
  @include footer-b-desktop;
}
// extra large
@media (min-width: 1200px) {
  .card-img-side {
    height: 100%;
  }
  @include footer-a-desktop;
  @include footer-b-desktop;
}
