.navbar {
  .navbar-nav {
    .nav-item {
      &.active {
        .nav-link {
          color: $pink;
        }
      }
      .nav-link {
        color: $grey;
        &:hover {
          color: $pink;
        }
      }
    }
  }
}
