<div class="container my-3">
  <div class="row">
    <div class="col-lg-3 col-md-4 mb-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-9 col-md-8">
      <div class="card">
        <div class="card-body">
          <h1 class="display-5">About</h1>
          <p class="font-weight-light">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque corporis adipisci consectetur, nisi voluptate, similique,
            aliquid distinctio illum earum quasi illo sunt maxime rem quam eveniet incidunt et vel quae.
          </p>
          <p class="font-weight-light">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum inventore nulla corrupti molestiae officia error. Nam voluptate
            quis, debitis labore dolores exercitationem quo hic adipisci, nihil, voluptas aliquam inventore unde!
          </p>
          <p class="font-weight-light">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam nihil dignissimos aspernatur ipsa deserunt necessitatibus
            debitis, libero dolore fugiat! Ipsam, exercitationem itaque. Accusantium facere molestias culpa? Enim dolorem
            sint facere!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>