<!-- Cover a -->
<section class="cover-a">
  <div class="vertical-align">
    <div class="vertical-align-item">
      <div class="container text-center fade-in">
        <h2 class="text-capitalize display-4 text-white">cover a</h2>
        <h3 class="text-capitalize font-weight-light text-light">
          a basic cover image
        </h3>
        <a href="#footer" class="btn btn-outline-white btn-lg page-scroll mt-3"
          >Section Scroll</a
        >
      </div>
    </div>
  </div>
</section>
<!-- END Cover a -->
