<!-- Banner -->
<section class="bg-a py-5">
  <div class="vertical-align py-5">
    <div class="vertical-align-item">
      <div class="container text-center fade-in">
        <h2 class="text-xl text-white text-capitalize mb-0">
          Eat, Drink & Be Married
        </h2>
        <p class="text-md text-white text-capitalize mb-0">
          Wednesday 8<sup>th</sup> April 2020 | 4pm
        </p>
        <!-- <p class="text-xs font-italic text-white">
          yes it’s an infinity date
        </p> -->
        <!-- <h5 class="text-lg text-white text-capitalize mb-0">
          <a href="http://priderockcdo.com/cove/" target="_blank"
            >Cove Garden Resort</a
          >, Cagayan De Oro
        </h5> -->
        <p class="text-md text-white text-capitalize mb-0">
          Cove Garden Resort, Cagayan De Oro
        </p>
        <!-- <div class="col-md-10 mx-auto">
          <p class="text-md text-white text-capitalize">
            Thank you all for accepting our invitation and sharing this special
            day with us. We are delighted to be spending this day with our
            closest family and friends. If you’re reading this now then yes
            you’re one of them…. Don’t you feel special
          </p>
        </div> -->
      </div>
    </div>
  </div>
</section>
<!-- End Banner -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
      <div class="ornament-top"></div>
      <!-- <h2 class="text-center mb-0">Wednesday 8th April 2020</h2>
      <p class="text-center font-italic text-xs">
        yes it’s an infinity date
      </p>
      <h5 class="text-center">
        <a href="http://priderockcdo.com/cove/" target="_blank"
          >Cove Garden Resort</a
        >, Cagayan De Oro
      </h5>
      <h5 class="text-center">4pm Garden Ceremony</h5> -->
      <p>
        Thank you all for accepting our invitation and sharing this special day
        with us. We are delighted to be spending this day with our closest
        family and friends. If you’re reading this now then yes you’re one of
        them…. Don’t you feel special
      </p>
      <p>
        The room we booked is called the Pavillion. This is where the reception
        will take place.
      </p>
      <p>
        Please be punctual as we are on strict schedule….unless you’re the
        bride, she can be late (its traditional)
      </p>
      <p>
        Times for the entourage may vary but we shall keep you guys/gals
        updated.
      </p>
      <p>
        There will be entrees and drinks provided after the garden ceremony.
      </p>
      <hr />
      <h3 class="text-center">Gifts</h3>
      <p>
        Ohhh the exciting part for us. Well not really. We don’t really require
        any gifts. Your presence is our gift.
      </p>
      <p>
        We will be travelling and we are restricted with our baggage allowance
        so we would politely appreciate if you avoid giving us presents.
        Although contributing towards our future honeymoon, general holidays,
        rent, mortgage, house and lot etc will be appreciated. (Just joking of
        course)
      </p>
      <hr />
      <h3 class="text-center">Finally...</h3>
      <p>
        If you require any more information then feel free to message us.
        However, please be patient with us as we are busy planning this eventful
        day and have working busy schedules.
      </p>
      <p>
        We are both excited to see you all there and celebrate this memorable
        day with you all.
      </p>
      <div class="ornament-bottom"></div>
    </div>
  </div>
</div>
<!-- section background image -->
<section class="bg-b py-5">
  <div class="vertical-align py-5">
    <div class="vertical-align-item">
      <div class="container text-center">
        <h3 class="text-lg text-white text-capitalize mb-0">#Alfie&Han2020</h3>
        <h3 class="text-lg text-white text-capitalize mb-0">
          #ToInfiniTutsAndBeHan
        </h3>
      </div>
    </div>
  </div>
</section>
