<!-- Banner -->
<section class="bg-d py-5">
  <div class="vertical-align py-5">
    <div class="vertical-align-item">
      <div class="container text-center fade-in">
        <h2 class="text-xl text-white text-capitalize mb-0">
          Dress Code
        </h2>
      </div>
    </div>
  </div>
</section>
<!-- End Banner -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
      <div class="ornament-top"></div>
      <p>
        The theme is British summer wedding. So anything formal. The colour
        scheme is pastel colours.
      </p>
      <p>
        Dress to impress! We shall be giving a prize to the best dressed guest,
        so put your best outfit on to be in for a special prize.
      </p>
      <p>
        Also, we want to party after the programme so make sure you’re wearing
        something comfortable. We’re gonna party!!!! It’s a celebration after
        all.
      </p>
      <div class="ornament-bottom"></div>
    </div>
  </div>
</div>
