<!-- Banner -->
<section class="bg-e py-5">
  <div class="vertical-align py-5">
    <div class="vertical-align-item">
      <div class="container text-center fade-in">
        <h2 class="text-xl text-white text-capitalize mb-0">
          FAQs
        </h2>
      </div>
    </div>
  </div>
</section>
<!-- End Banner -->
<div class="container text-justify">
  <div class="row">
    <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
      <div class="ornament-top"></div>
      <h5 class="text-center">Dietary Requirements</h5>
      <p>
        If you have any allergies, please let us know so we can inform the caterers.
      </p>
      <hr />
      <h5 class="text-center">Hotels</h5>
      <p>
        If you require any rooms to stay in that are close to the Cove resort,
        just simply type in CDO hotels on this link: www.google.com
      </p>
      <p>
        Sike!!!.....here are two places you can stay in if you wish. They’re
        both around 5-10 min walk (depending which one you stay in)
      </p>
      <a href="https://www.chalibeachresort.com/" target="_blank"
        >Chali Beach Resort</a
      ><br />
      <a
        href="https://www.tripadvisor.co.uk/Hotel_Review-g317124-d1553471-Reviews-or5-MARCO_HOTEL-Cagayan_de_Oro_Misamis_Oriental_Province_Mindanao.html"
        target="_blank"
        >Marco Hotel</a
      >
      <hr />
      <h5 class="text-center">Transport</h5>
      <p>
        It’s actually quite easy to get to and the place is very well known. You
        can get a Grab (it’s like uber for the Londoners) and it’s kind of
        cheap. A normal taxi will do as well (again it’s kind of cheap).
      </p>
      <p>
        Well I say cheap as long as you don’t make it obvious you’re a
        foreigner. Londoners put your best Filipino accent on.
      </p>
      <hr />
      <h5 class="text-center">First Time Visitors</h5>
      <p>
        For those of you that are visiting CDO for the first time, I hope you
        all enjoy it. The city centre is not too far from the beaches (about an
        hour away by car) and it’s about an hour drive to the airport as well.
      </p>
      <p>
        To get around the city is easy as well as taxi’s are always available
        and cheaper than Manila. As I mentioned above you can use an app called
        Grab. You can’t really get lost in the city as Google Maps is available.
      </p>
      <p>
        For you shoppers, or you just want good aircon, there are three malls in
        the city centre. Centrio Ayala malls, (our personal favourite!), SM &
        Lim Ketkai Mall. There are also hotels nearby each one if you wish to
        stay around the city centre.
      </p>
      <p>
        If you would like to take a day trip then there is Dahilayan you can go
        to. This place has zip lines, mini golf, downhill karting etc. It’s an
        adventure park for everyone to enjoy. You can also stay overnight there.
        It is about 2-3 hours drive depending on traffic.
      </p>
      <p>
        Another trip you can do is to a beach called Camiguin Island. You would
        need about 2 days for this as it takes about 4 hours to get there. You
        would need to drive to the port and then take a ferry.
      </p>
      <p>
        I would suggest to google a few places to go to if you’re planning on
        staying in CDO for a few days.
      </p>
      <div class="ornament-bottom"></div>
    </div>
  </div>
</div>
