<!-- Banner a -->
<!-- <section class="banner-a">
  <div class="vertical-align">
    <div class="vertical-align-item">
      <div class="container text-center fade-in">
        <h2 class="text-capitalize display-4 text-white">
          Eat, Drink & Be Married
        </h2>
      </div>
    </div>
  </div>
</section> -->
<!-- END Banner a -->

<!-- section background image -->
<section class="bg-a py-5">
  <div class="vertical-align py-5">
    <div class="vertical-align-item">
      <div class="container text-center fade-in">
        <h2 class="text-xl text-white text-capitalize mb-0">
          Eat, Drink & Be Married
        </h2>
        <div class="col-md-10 mx-auto">
          <p class="text-md text-white text-capitalize">
            Thank you all for accepting our invitation and sharing this special
            day with us. We are delighted to be spending this day with our
            closest family and friends. If you’re reading this now then yes
            you’re one of them…. Don’t you feel special
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
