<!-- Banner -->
<section class="bg-c py-5">
  <div class="vertical-align py-5">
    <div class="vertical-align-item">
      <div class="container text-center fade-in">
        <h2 class="text-xl text-white text-capitalize mb-0">
          Guest List
        </h2>
      </div>
    </div>
  </div>
</section>
<!-- End Banner -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
      <div class="ornament-top"></div>
      <p>
        We would like to spend as much time as possible with our closest family
        and friends - thanks for understanding for not bringing a guest.
      </p>
      <p>
        Please find your name below. Upon entry, please show this site as a
        proof of invitation.
      </p>
      <hr />
      <h3 class="text-capitalize text-center">
        Guest List
      </h3>
      <ul class="list-group">
        <li class="list-group-item">
          Eduardo & Jennifer Bias<span class="badge badge-success ml-1"
            >+2</span
          >
        </li>
        <li class="list-group-item">
          Jerrick & Christine Cajigas<span class="badge badge-success ml-1"
            >+2</span
          >
        </li>
        <li class="list-group-item">
          Katherine & Reylito Bongolan
          <span class="badge badge-success ml-1">+3</span>
        </li>
        <li class="list-group-item">Jason Caraan & Magda Talar</li>
        <li class="list-group-item">Rizaldy Bias & Alisa Guiang</li>
        <li class="list-group-item">Sabrina Bias</li>
        <li class="list-group-item">
          Jan - jaydee Dolores <span class="badge badge-success ml-1">+1</span>
        </li>
        <li class="list-group-item">Sabrina Bias</li>
        <li class="list-group-item">Vergil Jordan Banaga</li>
        <li class="list-group-item">Ahmed Ben Amer</li>
        <li class="list-group-item">
          Francisco & Evageline Leonor<span class="badge badge-success ml-1"
            >+2</span
          >
        </li>
        <li class="list-group-item">Maria - Seneza Leonor</li>
        <li class="list-group-item">Mary Therese Leonor</li>
        <li class="list-group-item">
          Malabanan Family <span class="badge badge-success ml-1">6</span>
        </li>
        <li class="list-group-item">Lucio & Neneth Leonor</li>
        <li class="list-group-item">
          Serio & Yolanda Leonor<span class="badge badge-success ml-1">+2</span>
        </li>
        <li class="list-group-item">
          Mario & Gina Leonor<span class="badge badge-success ml-1">+3</span>
        </li>
        <li class="list-group-item">Steve & Agnes Wickerson</li>
        <li class="list-group-item">
          Henry & Natalie Juanico<span class="badge badge-success ml-1"
            >+1</span
          >
        </li>
        <li class="list-group-item">Jeremy & Jasmin Pingol</li>
        <li class="list-group-item">Dustein Sibug</li>
        <li class="list-group-item">Daniel Sibug</li>
        <li class="list-group-item">
          Ricardo & Lorna Pamagan<span class="badge badge-success ml-1"
            >+1</span
          >
        </li>
        <li class="list-group-item">Rebecca Getalada</li>
        <li class="list-group-item">Aldrin & Joy Bagonoc</li>
        <li class="list-group-item">Neil Bagonoc</li>
        <li class="list-group-item">Nene Bagonoc</li>
        <li class="list-group-item">Mimi Bagonoc</li>
        <li class="list-group-item">Juancho & Marlyn Bagonoc</li>
        <li class="list-group-item">Manny & Ging Logroño</li>
        <li class="list-group-item">Al & Myrna Valmores</li>
        <li class="list-group-item">Alan Roy & Mylene Valmores</li>
        <li class="list-group-item">Golda Tinagan Baring</li>
        <li class="list-group-item">Janice Sibug</li>
        <li class="list-group-item">Evan Rey Valmores</li>
        <li class="list-group-item">Cromer Dingding</li>
        <li class="list-group-item">Annael Domingo</li>
        <li class="list-group-item">John Keiffer & Laizah Galanida Ting</li>
        <li class="list-group-item">Jill Jaraula - Donato</li>
        <li class="list-group-item">April Awitin</li>
        <li class="list-group-item">Jonaidah Darimbang</li>
        <li class="list-group-item">Terence Valdehueza</li>
        <li class="list-group-item">
          Kristelle Marie Akut - Ranara<span class="badge badge-success ml-1"
            >+1</span
          >
        </li>
        <li class="list-group-item">Stephane Joy Mharie Sale</li>
        <li class="list-group-item">Mario & Azucena Huervas</li>
        <li class="list-group-item">Selma Epanez</li>
        <li class="list-group-item">Ashley Cuenza</li>
        <li class="list-group-item">Brian Keith Maddawin</li>
        <li class="list-group-item">Nerika Verdejo</li>
        <li class="list-group-item">Janaine Sibug</li>
      </ul>
      <h3 class="text-capitalize text-center mt-3">
        Entourage
      </h3>
      <ul class="list-group">
        <li class="list-group-item">Groom’s Parents</li>
        <li class="list-group-item">Arnold & Fe Manzanero</li>
        <li class="list-group-item">Bride’s Parents</li>
        <li class="list-group-item">Carlos & Lida Bagonoc</li>
      </ul>
      <h3 class="text-capitalize text-center mt-3">
        Groom's Best Men
      </h3>
      <ul class="list-group">
        <li class="list-group-item">Eduardo Bias Jr & Jan-Jaydee Dolores</li>
      </ul>
      <h3 class="text-capitalize text-center mt-3">
        Groomsmen
      </h3>
      <ul class="list-group">
        <li class="list-group-item">Ahmed Ben Amer</li>
        <li class="list-group-item">Vergil Jordan Banaga</li>
        <li class="list-group-item">Rizaldy Bias</li>
        <li class="list-group-item">Niccu Bagonoc</li>
      </ul>
      <h3 class="text-capitalize text-center mt-3">
        Matron Of Honor
      </h3>
      <ul class="list-group">
        <li class="list-group-item">Diana Bagonoc Marban</li>
      </ul>
      <h3 class="text-capitalize text-center mt-3">
        Bridesmaids
      </h3>
      <ul class="list-group">
        <li class="list-group-item">Alesha Bautista Manzanero</li>
        <li class="list-group-item">Ashley Cuenza</li>
        <li class="list-group-item">Brian Keith Maddawin</li>
        <li class="list-group-item">Nerika Verdejo</li>
        <li class="list-group-item">Janaine Sibug</li>
      </ul>
      <h3 class="text-capitalize text-center mt-3">
        Flower Girl
      </h3>
      <ul class="list-group">
        <li class="list-group-item">Yelena Marban</li>
      </ul>
      <h3 class="text-capitalize text-center mt-3">
        Ring Bearer
      </h3>
      <ul class="list-group">
        <li class="list-group-item">Jaiden Eduardo Bautista Manzanero</li>
      </ul>
      <div class="ornament-bottom"></div>
    </div>
  </div>
</div>
