<!-- Banner -->
<section class="bg-c py-5">
  <div class="vertical-align py-5">
    <div class="vertical-align-item">
      <div class="container text-center fade-in">
        <h2 class="text-xl text-white text-capitalize mb-0">
          Guest List
        </h2>
      </div>
    </div>
  </div>
</section>
<!-- End Banner -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
      <div class="ornament-top"></div>
      <p>
        We would like to spend as much time as possible with our closest family
        and friends - thanks for understanding for not bringing a guest.
      </p>
      <p>
        Please find your name below. Upon entry, please show this site as a
        proof of invitation.
      </p>
      <div class="ornament-bottom"></div>
    </div>
  </div>
</div>
