<!-- Banner -->
<section class="bg-c py-5">
  <div class="vertical-align py-5">
    <div class="vertical-align-item">
      <div class="container text-center fade-in">
        <h2 class="text-xl text-white text-capitalize mb-0">
          Guest List
        </h2>
      </div>
    </div>
  </div>
</section>
<!-- End Banner -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-8 offset-lg-3 offset-md-2">
      <div class="ornament-top"></div>
      <p>
        We would like to spend as much time as possible with our closest family
        and friends - thanks for understanding for not bringing a guest.
      </p>
      <p>
        Please find your name below. Upon entry, please show this site as a
        proof of invitation.
      </p>
      <hr />
      <h3 class="text-capitalize text-center">
        Guest List
      </h3>

      <p class="ml-3 pl-1">
        Guest Name<span class="badge bg-pink text-white ml-1 p-2"
          >total allocated seats</span
        >
      </p>

      <ul class="list-group">
        <li class="list-group-item">
          Eduardo & Jennifer Bias<span class="badge bg-pink text-white ml-1 p-2"
            >4</span
          >
        </li>
        <li class="list-group-item">
          Jerrick & Christine Cajigas<span
            class="badge bg-pink text-white ml-1 p-2"
            >4</span
          >
        </li>
        <li class="list-group-item">
          Katherine & Reylito Bongolan
          <span class="badge bg-pink text-white ml-1 p-2">5</span>
        </li>
        <li class="list-group-item">
          Jason Caraan & Magda Talar
          <span class="badge bg-pink text-white ml-1 p-2">2</span>
        </li>
        <li class="list-group-item">
          Rizaldy Bias & Alisa Guiang
          <span class="badge bg-pink text-white ml-1 p-2">2</span>
        </li>
        <li class="list-group-item">
          Sabrina Bias
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          Jan - jaydee Dolores
          <span class="badge bg-pink text-white ml-1 p-2">2</span>
        </li>
        <li class="list-group-item">
          Vergil Jordan Banaga
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          Ahmed Ben Amer<span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          Francisco & Evageline Leonor<span
            class="badge bg-pink text-white ml-1 p-2"
            >4</span
          >
        </li>
        <li class="list-group-item">
          Maria - Seneza Leonor
          <span class="badge bg-pink text-white ml-1 p-2">2</span>
        </li>
        <!-- <li class="list-group-item">
          Mary Therese Leonor
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li> -->
        <li class="list-group-item">
          Malabanan Family
          <span class="badge bg-pink text-white ml-1 p-2">6</span>
        </li>
        <li class="list-group-item">
          Lucio & Neneth Leonor
          <span class="badge bg-pink text-white ml-1 p-2">2</span>
        </li>
        <li class="list-group-item">
          Serio & Yolanda Leonor<span class="badge bg-pink text-white ml-1 p-2"
            >4</span
          >
        </li>
        <li class="list-group-item">
          Mario & Gina Leonor<span class="badge bg-pink text-white ml-1 p-2"
            >5</span
          >
        </li>
        <li class="list-group-item">
          Steve & Agnes Wickerson
          <span class="badge bg-pink text-white ml-1 p-2">2</span>
        </li>
        <li class="list-group-item">
          Henry & Natalie Juanico<span class="badge bg-pink text-white ml-1 p-2"
            >3</span
          >
        </li>
        <li class="list-group-item">
          Jeremy & Jasmin Pingol
          <span class="badge bg-pink text-white ml-1 p-2">2</span>
        </li>
        <li class="list-group-item">
          Dustein Sibug
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          Daniel Sibug
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          Ricardo & Lorna Pamagan<span class="badge bg-pink text-white ml-1 p-2"
            >3</span
          >
        </li>
        <li class="list-group-item">
          Rebecca Getalada
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          Aldrin & Joy Bagonoc
          <span class="badge bg-pink text-white ml-1 p-2">2</span>
        </li>
        <li class="list-group-item">
          Neil Bagonoc
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          Lourdes Bagonoc
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          Martha Bagonoc
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          Juancho & Marlyn Bagonoc
          <span class="badge bg-pink text-white ml-1 p-2">2</span>
        </li>
        <li class="list-group-item">
          Manny & Luz Logroño
          <span class="badge bg-pink text-white ml-1 p-2">2</span>
        </li>
        <li class="list-group-item">
          Al & Myrna Valmores
          <span class="badge bg-pink text-white ml-1 p-2">2</span>
        </li>
        <li class="list-group-item">
          Alan Roy & Mylene Valmores
          <span class="badge bg-pink text-white ml-1 p-2">2</span>
        </li>
        <li class="list-group-item">
          Golda Tinagan Baring
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          Janice Sibug
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          Evan Rey Valmores
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          Cromer Dingding
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          Annael Domingo
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          John Keiffer & Laizah Galanida Ting
          <span class="badge bg-pink text-white ml-1 p-2">2</span>
        </li>
        <li class="list-group-item">
          Jill Jaraula - Donato
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          April Awitin
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          Jonaidah Darimbang
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          Terence Valdehueza
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          Kristelle Marie Akut - Ranara<span
            class="badge bg-pink text-white ml-1 p-2"
            >2</span
          >
        </li>
        <li class="list-group-item">
          Stephane Joy Mharie Sale
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          Mario & Azucena Huervas
          <span class="badge bg-pink text-white ml-1 p-2">2</span>
        </li>
        <li class="list-group-item">
          Selma Epanez
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          Ashley Cuenza
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          Brian Keith Maddawin
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          Nerika Verdejo
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
        <li class="list-group-item">
          Janaine Sibug
          <span class="badge bg-pink text-white ml-1 p-2">1</span>
        </li>
      </ul>
      <h3 class="text-capitalize text-center mt-3">
        Entourage
      </h3>
      <ul class="list-group">
        <li class="list-group-item">Groom’s Parents</li>
        <li class="list-group-item">Arnold & Fe Manzanero</li>
        <li class="list-group-item">Bride’s Parents</li>
        <li class="list-group-item">Carlos & Lida Bagonoc</li>
      </ul>
      <h3 class="text-capitalize text-center mt-3">
        Groom's Best Men
      </h3>
      <ul class="list-group">
        <li class="list-group-item">Eduardo Bias Jr & Jan-Jaydee Dolores</li>
      </ul>
      <h3 class="text-capitalize text-center mt-3">
        Groomsmen
      </h3>
      <ul class="list-group">
        <li class="list-group-item">Ahmed Ben Amer</li>
        <li class="list-group-item">Vergil Jordan Banaga</li>
        <li class="list-group-item">Rizaldy Bias</li>
        <li class="list-group-item">Niccu Bagonoc</li>
      </ul>
      <h3 class="text-capitalize text-center mt-3">
        Matron Of Honor
      </h3>
      <ul class="list-group">
        <li class="list-group-item">Diana Bagonoc Marban</li>
      </ul>
      <h3 class="text-capitalize text-center mt-3">
        Bridesmaids
      </h3>
      <ul class="list-group">
        <li class="list-group-item">Alesha Bautista Manzanero</li>
        <li class="list-group-item">Ashley Cuenza</li>
        <li class="list-group-item">Brian Keith Maddawin</li>
        <li class="list-group-item">Nerika Verdejo</li>
        <li class="list-group-item">Janaine Sibug</li>
      </ul>
      <h3 class="text-capitalize text-center mt-3">
        Flower Girl
      </h3>
      <ul class="list-group">
        <li class="list-group-item">Yelena Marban</li>
      </ul>
      <h3 class="text-capitalize text-center mt-3">
        Ring Bearer
      </h3>
      <ul class="list-group">
        <li class="list-group-item">Jaiden Eduardo Bautista Manzanero</li>
      </ul>
      <div class="ornament-bottom"></div>
    </div>
  </div>
</div>
